*{
    appearance: none;   
}
h1{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

.a{
color: rgb(204, 255, 238);
}

ul li{
    list-style-type:square;
    margin-left: 2rem;
}

ol li{
    margin-left: 2rem;
    list-style-type:decimal;
}

hr{
    margin: 1rem 0;
     border-top-width: 1px;
     border-top-color: rgb(230, 254, 255);
}

blockquote{
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 4px solid white;
    height:fit-content;
}

pre{
    margin:0.5rem  auto;
    width: 95%;
    color:white;
    padding: 0.5rem;
    background-color: rgba(41, 41, 41, 0.477);
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

code{
    display: block;
}