*{
    appearance: none;   
}
h1{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

ul li{
    list-style-type:circle;
    margin-left: 2rem;
}

ol li{
    margin-left: 2rem;
    list-style-type: upper-roman;
}

hr{
    margin: 1rem 0;
     border-top-width: 3px;
     border-top-color: rgb(230, 254, 255);
}

blockquote{
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 4px solid white;
    height:fit-content;
}

pre{
    margin:0.5rem  auto;
    width: 95%;
    color:white;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.477);
    font-size: 0.8rem;
}

code{
    display: block;
}